/* .user-table {
  margin: 0 auto;
}

.user-list {
  display: flex;
  flex-direction: column;
}

.table-header {
  background-color: #f2f2f2;
  font-weight: bold;
}

.user-details {
  display: flex;
  flex-direction: row;
}

.table-cell {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
} */

.user-table {
  margin: 0 auto;
}

.user-table table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.newUserButton {
  display: flex;
  flex: auto;
  background-color: green;
  color: white;
  margin: auto;
  padding: 6px 12px;
  border-radius: 3px;
}

.edit-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.selected-user {
  padding-left: 20px;
}

.selected-user .user-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 30px;
  margin: 20px 18px;
  background-color: bisque;
  color: black;
  border: none;
  border-radius: 10px;
}
.selected-user .user-details:hover {
  font-weight: bold;
  background-color: cornflowerblue;
}

.label {
  font-weight: bold;
}
